body {
  font-family: 'Georgia', serif;
  background: #f9f3e6 url("images/textura-pergamino.jpg") repeat;
  margin: 0;
  padding: 0;
  color: #3a2d1d;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

/* Header */
header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 2em;
  color: #5a372b;
}

.music-control {
  margin-top: 10px;
}

.music-btn {
  background: none;
  border: 2px solid #5a372b;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  color: #5a372b;
}

.music-btn:hover {
  background: #5a372b;
  color: #fff;
}

/* Mapa */
.map-container {
  position: relative;
  margin-top: 20px;
  text-align: center;
}

.map-img {
  width: 50%;
  max-width: 600px;
  margin-bottom: 20px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.map-btn {
  background: #5a372b;
  color: white;
  border: 2px solid #c9a26b;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  margin: 5px;
}

.map-btn:hover {
  background: #7e4f3a;
}

/* Barra de progreso */
.progress-container {
  text-align: center;
  margin-top: 30px;
}

.progress-bar {
  background-color: #ddd;
  border-radius: 10px;
  height: 20px;
  width: 80%;
  margin: 0 auto;
}

.progress-fill {
  background-color: #5b3922;
  height: 100%;
  border-radius: 10px;
}

/* Input y botones QR */
.qr-section {
  margin-top: 20px;
  text-align: center;
}

#qr-input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  border: 2px solid #5b3922;
  border-radius: 8px;
}

.action-btn {
  background: #5a372b;
  color: white;
  border: 2px solid #c9a26b;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  margin: 5px;
}

.action-btn:hover {
  background: #7e4f3
